# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
venv/
.env.local
!frontend/.env.example
!edge-agent/.env.example

# Django
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
