# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
venv/
.env.local

# Django
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
